/*@import "widescreen.css" screen and (min-width: 992px);*/

:root {
    --light-shades: hsl(52, 44%, 93%);
    --light-accent: hsl(29, 81%, 61%);
    --main-color: hsl(11, 9%, 98%);
    --dark-accent: hsl(14, 23%, 35%);
    --dark-shades: hsl(235, 10%, 25%);

    --margin-small: 0.2rem;
    --margin-medium: 1rem;
    --margin-big: 2rem;

    --golden-ratio-small: 0.38197;
    --golden-ratio-big: 0.61803;
}

html {
    overflow: auto;
}

body {
    background-color: var(--constrast-2);
    font-family: 'Montserrat', sans-serif;
    overflow-y: paged-x;

}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}

.App {
    /*height: 100vh;*/
    /*overflow-x: clip;*/
}


.accent-bg {
    background-color: var(--accent);
    color: var(--constrast-2);
}

article > h2 {
    /*display: inline-block;*/
    /*margin-left: var(--margin-small);*/
    margin-bottom: var(--margin-small);
}


.no-color {
    filter: grayscale(100%);
}

.reversed-colors, h2 {
    background-color: var(--dark-shades);
    color: var(--light-shades);
}


/*TOP PANEL*/

.header-panel-placeholder {
    position: absolute;
}

.header-panel {
    /*padding: calc(var(--margin-big) * 1.2);*/
    /*width: 100%;*/
    display: flex;
    justify-content: center;
}

.header-panel h1 {
    font-size: min(5vw, 3rem);
    width: max-content;
}

picture {
    max-width: 80vw;
}

picture > * {
    display: block;
    width: 100%;
    object-fit: cover;
}

/*MAIN PANEL*/

#main {
    display: flex;
    flex-flow: column;
}

.experience h3 {
    flex-shrink: 0;
    margin: 0;
    width: max-content;
}

.experience {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.experience div.dot {
    border-bottom: var(--dark-shades) 1px dotted;
    margin: var(--margin-small);
    height: 50%;
    width: 100%;
}

.experience .time {
    margin-right: var(--margin-big);
    flex-shrink: 0;
}

article > * {
    padding-left: var(--margin-small);
}

a, a :link, a :hover, a :visited {
    color: var(--dark-accent);
}

