:root {
    /*--light-shades: hsl(44, 53%, 85%);*/
    /*--light-accent: hsl(29, 81%, 61%);*/
    /*--main-color: hsl(11, 9%, 62%);*/
    /*--dark-accent: hsl(14, 23%, 50%);*/
    /*--dark-shades: hsl(304, 10%, 31%);*/

    --light-shades: hsl(52, 44%, 93%);
    --light-accent: hsl(29, 81%, 61%);
    --main-color: hsl(11, 9%, 98%);
    --dark-accent: hsl(14, 23%, 35%);
    --dark-shades: hsl(235, 10%, 25%);


    --accent: var(--dark-accent);
    --constrast-1: var(--dark-shades);
    --constrast-2: var(--main-color);
    /*--bg-color: #eeeeee;*/

    --margin-small: 0.2rem;
    --margin-big: 2rem;

    --golden-ratio-small: 0.38197;
    --golden-ratio-big: 0.61803;


}

body {
    color: var(--constrast-1);
}

.App {
    height: 100vh;
    /*overflow-y: hidden;*/
}

body {
    background-color: var(--constrast-2);
}

.accent-bg {
    background-color: var(--accent);
    color: var(--constrast-2);
}

article > h2 {
    display: inline-block;
    /*margin-left: var(--margin-small);*/
    margin-bottom: var(--margin-small);
}

article.skill {
    display: inline-block;
    width: 10rem;
}

.no-color {
    filter: grayscale(100%);
}

.time {
    margin-left: var(--margin-small);
}

h5 {
    margin: 0;
}

/*.gold-box-be {*/
/*    display: grid;*/
/*    grid-template-columns: calc(var(--golden-ratio-big) * 100%) calc(var(--golden-ratio-small) * 100%);*/
/*}*/

.gold-box-le {
    display: grid;
    gap: var(--margin-small);
    /*grid-template-columns: calc(var(--golden-ratio-small) * 100%) calc(var(--golden-ratio-big) * 100%);*/
    --l-size: max(calc(var(--margin-big) * 8), 200px);
    grid-template-columns: var(--l-size) calc(calc(100% - var(--l-size)));
}

.gold-box-be > *, .gold-box-le > * {
    padding: var(--margin-small);
}

.h100 {
    height: 100%
}

.panel {
    background-color: var(--light-shades);
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.reversed-colors {
    background-color: var(--dark-shades);
    color: var(--light-shades);
}

.header-panel {
    padding: calc(var(--margin-big) * 2);
    z-index: -1;
    margin-left: calc(var(--margin-big) * -1);
    margin-top: calc(var(--margin-big) * -1);
    text-align: center;

}

picture {
    /*max-width: calc(var(--margin-big)*5);*/
    max-width: min(calc(var(--margin-big) * 5), 200px);
    margin: calc(var(--margin-big));
}

picture > * {
    display: block;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

#experience {
    margin-left: calc(var(--margin-big));
}


/*svg{*/
/*    position: absolute;*/
/*}*/

